<div class="foods">
   <% data.foods.each do |food| %>
      <div class="food-card <%= food.area%>">
         <%= image_tag food.image, class: "food-img", alt: food.food %>
         <div class="food-container">
            <div class="food-content">
               <h4 class="food-name-price"><%= food.food %></h4>
             <h4 class="food-name-price"><%= food.price == "pending" ? "Preço a definir" : food.price %></h4>
            </div>
         </div>
      </div>
   <% end %>
</div>
